{% extends "blog/base.html" %}

<!-- Header -->
{% block header %}
<h1>dj.yue's Blog</h1>
<span class="subheading">A Simple Blog by django & bootstrap</span>
{% endblock header %}

<!-- Main Content -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div id="post_list">
            {% for post in posts  %}

                <div class="post-preview">
                    <a href="{% url "blog:post" post.pk %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="{% url "blog:about" %}">{{ post.creator.username }}</a> on {{ post.timestamp }}}</p>
                </div>
                <hr>
            {% endfor %}
            </div>
            <!-- Pager -->
            <div class="clearfix" id="more_button">
                <a class="btn btn-secondary float-right" id="more">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        function generete_some_url(id){
            return '{% url "blog:post" 1 %}'.replace('1',id);
        }

        $("#more").click(function(){
            $.get('{% url 'blog:moreposts' %}',function(ret){
                $('#post_list').append(ret)
            })
        })
    })
</script>

{% endblock content %}
