{% extends "blog/base.html" %}

<!-- Load Static -->
{% load static %}

<!-- Header -->
{% block header %}
<h1>{{ post.title }}</h1>
<span class="subheading">{{ post.subtitle }}</span>
<p class="post-meta">Posted by <a href="{% url "blog:about" %}">dj.yue</a> on {{ post.timestamp }}}</p>
{% endblock header %}

<!-- Post Content -->
{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                {% autoescape off %}
                    {{ post.body }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</article>

<hr>
{% endblock content %}
